@charset "utf-8";
/* 애니메이션 */
@-webkit-keyframes pulse {
	0% {
	  -moz-transform: scale(0.9);
	  -ms-transform: scale(0.9);
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
	70% {
	  -moz-transform: scale(1);
	  -ms-transform: scale(1);
	  -webkit-transform: scale(1);
	  transform: scale(1);
	  box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
	}
	100% {
	  -moz-transform: scale(0.9);
	  -ms-transform: scale(0.9);
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
	}
  }

.clear:after {content:"";display: block;clear: both}

html, body, div, span, h1, h2, h3, h4, h5, h6, address, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, header, footer, nav, section, p {
	margin:0;padding:0;border:0;font-family:"Noto Sans KR",sans-serif;
}/* q:따움표 */
body {min-width:320px;line-height:24px;font-size:17px;color:#444;letter-spacing:-1px;-webkit-text-size-adjust:100%;}/* -webkit-text-size-adjust:100%; - 아이폰 가로화면에서 폰트 자동확대 방지 */
ol, ul {list-style:none;}
table {border:0;border-spacing:0;}
table caption {overflow:hidden;width:0px;height:0px;}
hr {display:block;height:1px;border-top:1px solid #ccc;}
.blind {display: inline-block !important;position: absolute;top: 0;left: 0;margin: 0 !important;padding: 0 !important;font-size: 0;line-height: 0;border: 0 !important; overflow: hidden !important}
input, select {vertical-align:middle;}
input {-webkit-appearance:none;-webkit-border-radius:0}
input::placeholder {color:#ccc;}
input::-ms-input-placeholder {color:#ccc;}
input::-webkit-input-placeholder {color:#ccc;}
input::-moz-input-placeholder {color:#ccc;}
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;border-radius:8px;}
address, em, i {font-style:normal}/* 기울임 방지 */
button {border:none;cursor:pointer;}/* 기본보더 삭제, 오버시 기본 화살표로 되므로 커서포인트는 반드시 넣어야함 */
a, img {vertical-align:top;}
a {text-decoration:none;color:#666;color:inherit;}/* inherit 상위 객체의 값을 그대로 적용(상속) */
a:link,a:visited {}
a:hover,a:focus,a:active {}
sup{vertical-align: baseline; }
/* 브라우저 공통으로 보이게 */
* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,
*:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;