/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
@font-face {
	font-family:'Noto Sans KR';font-style:normal;font-weight:100;
	src: url(NotoSansKR-Thin.woff2) format('woff2'),
		 url(NotoSansKR-Thin.woff) format('woff'),
		 url(NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';font-style:normal;font-weight:300;
	src: url(NotoSansKR-Light.woff2) format('woff2'),
		 url(NotoSansKR-Light.woff) format('woff'),
		 url(NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';font-style:normal;font-weight:400;
	src: url(NotoSansKR-Regular.woff2) format('woff2'),
		 url(NotoSansKR-Regular.woff) format('woff'),
		 url(NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';font-style:normal;font-weight:500;
	src: url(NotoSansKR-Medium.woff2) format('woff2'),
		 url(NotoSansKR-Medium.woff) format('woff'),
		 url(NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';font-style:normal;font-weight:700;
	src: url(NotoSansKR-Bold.woff2) format('woff2'),
		 url(NotoSansKR-Bold.woff) format('woff'),
		 url(NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';font-style:normal;font-weight:900;
	src: url(NotoSansKR-Black.woff2) format('woff2'),
		 url(NotoSansKR-Black.woff) format('woff'),
		 url(NotoSansKR-Black.otf) format('opentype');
}


/*** 나눔스퀘어 ***/
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:900;
	src: url(NanumSquareEB.woff) format('woff'),
		 url(NanumSquareEB.otf) format('opentype');
}
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:700;
	src: url(NanumSquareB.woff) format('woff'),
		 url(NanumSquareB.otf) format('opentype');
}
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:500;
	src: url(NanumSquareR.woff) format('woff'),
		 url(NanumSquareR.otf) format('opentype');
}
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:300;
	src: url(NanumSquareL.woff) format('woff'),
		 url(NanumSquareL.otf) format('opentype');
}



/*** 나눔스퀘어 라운드 ***/
@font-face {
	font-family:'NanumSquareRound';font-style:normal;font-weight:900;
	src: url(NanumSquareRoundOTFEB.woff) format('woff'),
		 url(NanumSquareRoundOTFEB.otf) format('opentype');
}
@font-face {
	font-family:'NanumSquareRound';font-style:normal;font-weight:700;
	src: url(NanumSquareRoundOTFB.woff) format('woff'),
		 url(NanumSquareRoundOTFB.otf) format('opentype');
}
@font-face {
	font-family:'NanumSquareRound';font-style:normal;font-weight:500;
	src: url(NanumSquareRoundOTFR.woff) format('woff'),
		 url(NanumSquareRoundOTFR.otf) format('opentype');
}
@font-face {
	font-family:'NanumSquareRound';font-style:normal;font-weight:300;
	src: url(NanumSquareRoundOTFL.woff) format('woff'),
		 url(NanumSquareRoundOTFL.otf) format('opentype');
}





